.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.settings/
.loadpath
.recommenders

# Eclipse Core
#.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
#.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

.DS_Store
/wav/
/classes/
/bin/
/ContinuousSpeechRecognition.iml
/.idea/
/.gitignore
*.pcm
*.wav
.idea/
0105.wav
ContinuousSpeechRecognition.iml
all.wav
classes/
msc/c750f2bfcb9c0118e7575f32415790f3/urec.data
result.txt
src/META-INF/
wav/
